[Unit]
Description=alist Quadlet

[Container]
Image=docker.io/xhofe/alist:latest
ContainerName=alist
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Volume=/opt/podman/alist:/opt/alist/data
Network=pasta:-i,br0
PublishPort=127.0.10.4:9999:5244

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=/usr/bin/rm -f /opt/podman/socket/alist/alist.socket

[Install]
WantedBy=multi-user.target default.target
