# mkdir -p ~/containers/{alist,socket/alist}
# jq '.scheme.http_port= -1 | .scheme.unix_file= "/dev/shm/alist.socket" | .scheme.unix_file_perm= "0666"' ~/containers/alist/config.json > ~/containers/alist/config.json.tmp && mv ~/containers/alist/config.json.tmp ~/containers/alist/config.json
[Unit]
Description=alist Quadlet

[Container]
Image=docker.io/xhofe/alist:latest
ContainerName=alist
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Volume=%h/containers/alist:/opt/alist/data:Z
Volume=%h/containers/socket/alist:/dev/shm:z
Network=pasta

[Service]
Restart=always
TimeoutStartSec=900
ExecStartPre=/usr/bin/rm -f %h/containers/socket/alist/alist.socket

[Install]
WantedBy=multi-user.target default.target
