[Unit]
Description=Cloudreve valkey Quadlet

[Container]
Image=docker.io/valkey/valkey:alpine
ContainerName=cloudreve-valkey
AutoUpdate=registry
Network=pasta
PublishPort=127.0.0.1:6379:6379

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
