# mkdir -p ~/containers/filebrowser/{config,database}
[Unit]
Description=filebrowser Quadlet

[Container]
Image=docker.io/filebrowser/filebrowser:latest
ContainerName=filebrowser
AutoUpdate=registry
User=0
Group=0
Environment=TZ=Asia/Shanghai
Volume=%h/containers/filebrowser/config:/config:Z
Volume=%h/containers/filebrowser/database:/database:Z
# Volume=/opt/data:/srv:z
PublishPort=127.0.0.1:9900:80

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
