# https://jellyfin.org/docs/general/installation/container/#managing-via-systemd
# https://github.com/notofonts/noto-cjk/tree/main/Sans/OTC
[Unit]
Description=Jellyfin Quadlet

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
AutoUpdate=registry
AddDevice=/dev/dri:/dev/dri
UserNS=keep-id
Environment=TZ=Asia/Shanghai
Volume=../../../containers/jellyfin:/config:Z
Volume=../../../containers/fonts:/usr/share/fonts/opentype:ro,z
# Volume=/opt/data:/data:ro,z
Network=pasta:-i,br0
PublishPort=8906:8096

[Service]
Restart=always
TimeoutStartSec=900
# Inform systemd of additional exit status
SuccessExitStatus=0 143
ExecStartPre=/bin/sh -c "/bin/mkdir -p /home/username/containers/{jellyfin,fonts}"

[Install]
WantedBy=multi-user.target default.target
