[Unit]
Description=Jellyfin Quadlet
Documentation=https://jellyfin.org/docs/general/installation/container/#managing-via-systemd

[Container]
Image=ghcr.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
AutoUpdate=registry
AddDevice=/dev/dri:/dev/dri
Environment=TZ=Asia/Shanghai
Volume=jellyfin-config:/config
Volume=jellyfin-cache:/cache
# Volume=/opt/data:/data:ro,z
PublishPort=8096:8096

[Service]
Restart=always
TimeoutStartSec=900
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
