[Unit]
Description=nezha-dashboard Quadlet

[Container]
Image=ghcr.io/nezhahq/nezha:latest
ContainerName=nezha-dashboard
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Volume=nezha-dashboard:/dashboard/data
PublishPort=127.0.0.1:8008:8008

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
