[Unit]
Description=Nginx Quadlet

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=nginx
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Volume=/opt/podman/www/nginx_conf:/etc/nginx/conf.d:ro
Volume=/opt/podman/cert:/cert:ro
Volume=/opt/podman/www/wwwroot:/html
Volume=/opt/podman/socket:/dev/shm
Volume=/opt/podman/www/wwwlogs:/var/log/nginx
Network=host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
