# mkdir -p ~/containers/{sing-box,cert}
[Unit]
Description=sing-box Quadlet

[Container]
Image=ghcr.io/sagernet/sing-box:latest
ContainerName=sing-box
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Volume=%h/containers/sing-box:/app:Z
Volume=%h/containers/cert:/cert:ro,z
Exec=run -C /app
Network=pasta
PublishPort=127.0.0.1:12345:12345

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
