[Unit]
Description=Cloudreve container
Wants=cloudreve-postgres.service cloudreve-redis.service
After=cloudreve-postgres.service cloudreve-redis.service

[Container]
Pod=cloudreve.pod
Image=cloudreve.azurecr.io/cloudreve/pro:latest
ContainerName=cloudreve
AutoUpdate=registry
Environment=TZ=Asia/Shanghai
Environment=CR_CONF_Database.Type=postgres
Environment=CR_CONF_Database.Host=localhost
Environment=CR_CONF_Database.User=cloudreve
Environment=CR_CONF_Database.Name=cloudreve
Environment=CR_CONF_Database.Port=5432
Environment=CR_CONF_Redis.Server=localhost:6379
# echo -n "cloudreve_license_key" | podman secret create CR_LICENSE_KEY -
Secret=CR_LICENSE_KEY,type=env
Volume=cloudreve_data:/cloudreve/data

[Service]
Restart=always
TimeoutStartSec=900
