[Unit]
Description=Bitwarden Server (Rust Edition)
Documentation=https://github.com/dani-garcia/vaultwarden

Wants=vaultwarden-postgres.service
After=vaultwarden-postgres.service

[Container]
Pod=vaultwarden.pod
Image=ghcr.io/dani-garcia/vaultwarden:latest
ContainerName=vaultwarden-server
AutoUpdate=registry
EnvironmentFile=%h/.config/vaultwarden.env
Volume=vaultwarden_data:/data
