[Unit]
Description=Run DDNS script every 5 minutes

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
