[Unit]
Description=Execute DDNS script

[Service]
Type=oneshot
EnvironmentFile=%h/.config/.cf_ddns.env
ExecStart=%h/bin/cf_ddns.sh

[Install]
WantedBy=default.target
