[Unit]
Description=Execute DDNS script

[Service]
Type=oneshot
EnvironmentFile=/opt/script/.env
ExecStart=/opt/script/cf_ddns.sh

[Install]
WantedBy=default.target
