[Unit]
Description=Execute Update-cert script

[Service]
Type=oneshot
EnvironmentFile=%h/bin/.env
ExecStart=%h/bin/update-cert.sh

[Install]
WantedBy=default.target
