[Unit]
Description=Execute Update-cert script

[Service]
Type=oneshot
EnvironmentFile=/opt/script/.env
ExecStart=/opt/script/update-cert.sh

[Install]
WantedBy=default.target
