[Unit]
Description=Run update-cert.sh daily

[Timer]
OnCalendar=*-*-* 02:00:00 Asia/Shanghai
AccuracySec=1h
Persistent=true

[Install]
WantedBy=timers.target
