[Unit]
Description=Run Update-cert script

[Timer]
# 每个星期天的凌晨2点运行任务
OnCalendar=Sun *-*-* 02:00:00 UTC
# 每个月的2号凌晨2点运行任务
# OnCalendar=*-02 02:00:00 UTC
AccuracySec=1h
Persistent=true
Unit=update-cert.service

[Install]
WantedBy=timers.target
